#root {
  font-family: "Inter";
}

body {
  margin: 0px;
}

header {
  text-align: center;
  box-shadow: 0px 2px 3px 0px rgb(210, 210, 210);
  margin: 0px;
  width: 100vw;
    padding: 20px;
}

header > h1 {
  margin: 0px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.data-container {
  display: grid;
  grid-template-rows: repeat(30, 20px);
  grid-template-columns: repeat(40, 20px);
  border-radius: 10px;
  padding: 25px;
}

.line-graph-container {
  border: solid rgba(211, 211, 211, 1);
  grid-row: 1 / 20;
  grid-column: 3 / 42;
  width: 700px;
  padding: 10px 20px;
  border-radius: 10px;
}

.data-container-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.zip-code-input-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* OVERVIEW COMPONENT */
.daily-overview {
  grid-row: 21 / 25;
  grid-column: 3 / 23;
  display: flex;
  border: solid rgba(211, 211, 211, 1) 2px;
  padding: 10px 20px;
  border-radius: 10px;
  justify-content: space-between;
}
.current-data-container {
  margin-right: 20px;
}

.current-data-container > p {
  text-align: center;
  margin: 0px;
}
.current-data-container .measurement {
  font-size: 36px;
}

.current-data-container .measurement .unit {
  font-size: 24px;
  position: relative;
  bottom: 9px;
}

.measurement {
  font-weight: 700;
}

.measurement .unit {
  font-weight: 400;
  position: relative;
}

.high-low-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.high-low-container > p{
  margin: 0px;
}

.high-low-container .measurement .unit {
  font-size: 12px;
  bottom: 3px;
}


/* ALERTS CONTAINER */
.alerts-container {
  border: solid rgba(211, 211, 211, 1) 2px;
  padding: 10px;
  border-radius: 10px;
  grid-row: 21 / 25;
  grid-column: 25 / 40;
}

.alerts-container > h3, .alerts-container > p {
  margin: 0px;
}
